body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: beige;
}

.completed{
    color: rgba(128, 128, 128, 0.864);
    background-color: rgba(63, 225, 63, 0.382);
}

.incomplete{    
    background-color: rgba(63, 225, 63, 0.697);

}
input {
    font-size: large;
}
#task-list {
    font-size: large;
        
}