body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.completed{
    background-color: rgba(63, 225, 63, 0.697);
    color: rgba(128, 128, 128, 0.864);

}

.incomplete{
    background-color: lightskyblue;
}